@using System.Activities.Statements
@using System.Web.WebPages;
@using System.Web.Mvc;
@using ReportDataCollector
@using ReportGeneration

@functions {
    private string fileName;
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Reporting Beta site";
    if (IsPost)
    {
        var excelFile = this.Request.Files[0];
        var templateFile = this.Request.Files[1];

        if (excelFile == null || excelFile.ContentLength == 0)
        {
            ModelState.AddFormError("Please select your excel file");
        }
        else
        {


            var excel = Path.Combine(Server.MapPath("~/Content/report"), excelFile.FileName);

            String template = string.Empty;
            if (templateFile != null && templateFile.ContentLength > 0)
            {
                template = Path.Combine(Server.MapPath("~/Content/report"), templateFile.FileName);
                templateFile.SaveAs(template);
            }
            else
            {
                template = Path.Combine(Server.MapPath("~/Content/report"), "template.docx");
            }
            fileName = string.Format("report{0}.docx", DateTime.Now.Second);
            string destFileName = Path.Combine(Server.MapPath("~/Content/report"), fileName);
            excelFile.SaveAs(excel);
            
                File.Copy(template, destFileName, true);
            WordGenerator gen = new WordGenerator(destFileName, excel);
            gen.Generate();
            
        }
    }
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
           
        </hgroup>
        <p>
         
        </p>
    </div>
</section>
}

<h3>We suggest the following:</h3>

<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        First Fill out the template data in excel with your client. The current template can be found <a href="templates/testData.xlsx">here</a>
    </li>

    <li class="two">
        <h5>Upload your excel data file </h5>
        Click browse and select your filled in Excel data file              
        <form method="POST" enctype="multipart/form-data">
            @Html.ValidationSummary()
            <ol>
                
                <li><p>Upload your <b>Excel file</b> here</p>  
                    <input type="file" id="fileToUpload" name="file" />
                    <span class="field-validation-error" id="spanfile"></span>
                </li>
                <li>
                    <p>Optionally change the <b>Word template</b> here</p>
                    <input type="file" id="fileToUpload" name="file" />
                    <span class="field-validation-error" id="spanfile"></span>
                </li>
            </ol>
            <input type="submit" id="btnSubmit" value="Generate FCE report" />
        </form>     
    </li>

    <li class="three">
        <h5>Download your report</h5>
        <br/>
        @if (IsPost)
        {
            <a href="content/Report/@(fileName)">Download</a>
        }
        
    </li>
</ol>

